
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0px;
  padding: opx;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #fff;
}

.mainbody {
  display: flex;
  /* overflow: hidden; */
}

.leftmain{
  flex: 1;
  background: #0C0E10;
  height: 100vh;
}


.rightmain{
  flex: 4;
  background: #111315;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.div1 img{
  width: 240px;
height: 240px;
}

.p1{
  color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}


.p2
{
  color: #FF2424;
font-family: Poppins;
font-size: 17px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.div1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p3{
  color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
}


.div2 ol li{
  color:#FFF;
font-family: Poppins;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.leftmain{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.navbar{
  border-radius: 5px;
  background: #191D20;
height: 65px;
}

.navbar4 img{
  width: 58px;
height: 58px;
flex-shrink: 0;
}

button{
  width: 100px;
height: 36px;
flex-shrink: 0;
background-color: #FF2424;
}

.navbar1 input{
  width: 750px;
height: 36px;
flex-shrink: 0;
border-radius: 5px;
background: #272A30;
border: none;
outline: none;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero img{
  height: 370px;
  width: 1213px;
}

.card{
  width: 355px;
  height: 320px;
  border-radius: 10px;
 background: #191D20;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 margin: 20px;
 
}

.bottomcard{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.cardp1{
  color: #FFF;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.cardp2{
  color: #FFF;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

h3{
  padding-left: 20px;
}

.menucard{
  display: flex;
  flex-wrap: wrap;
}

.topcard img{
  width: 320px;
flex-shrink: 0;
}